@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Upload passport demo</h1>
    <p>Open <a href="apidemo.html">Test page</a>, upload an passport image, and in the next step see data given from passport.</p>
</div>
