@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<a href="https://dev.azure.com/giolegal/LexNet/_build/latest?definitionId=7&branchName=master">
    <img src="https://dev.azure.com/giolegal/LexNet/_apis/build/status/lexnet-portal?branchName=master" alt="build status">
</a>